/* You can add global styles to this file, and also import other style files */

.marked {
  background: #666;
  position: absolute;
  width: 2.5px !important;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}