<!--main editor-->
<ace-editor #editor [(text)]="text" [(mode)]="mode" [(theme)]="theme" [options]="options" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="20" (textChanged)="onChange($event)" style="min-height: 200px; width:100%; overflow: auto;">
</ace-editor>
<!--language lsit-->
<select [(ngModel)]="mode" (change)="changeLanguage($event.target.value)">
    <option *ngFor="let language of languageList" value="{{language.mode}}">{{language.text}}</option>
</select>
<!--theme lsit-->
<select [(ngModel)]="theme">
    <option *ngFor="let theme of themeList" value="{{theme.theme}}">{{theme.theme}}</option>
</select>