<div class="panel">
	<div class="panel-heading invers">
		<span class="panel-title">Codist</span>
		<span class="pull-right">
			<span class="badge">{{userCount}}</span>人だお（＾ω＾）
		</span>
	</div>
	<div class="panel-body">
        <app-tabs #appTabs >
			<app-tab *ngFor="let tabInfo of tabInfoArray"
				[tabId]="tabInfo.tabId"
				[active]="tabInfo.active"
				[removable]="tabInfo.removable"
				[name]="tabInfo.name"
				(select)="tabInfo.active = true"
				(deselect)="tabInfo.active = false"
				(removed)="removeTabHandler(tabInfo)"
			>
				<app-editor
					[roomId]="roomId"
					[tabId]="tabInfo.tabId"
				></app-editor>
			</app-tab>
		</app-tabs>
	</div>
	<div class="panel-footer">
		<button class="btn btn-primary" (click)="addTabInfo();">addTab</button>
	</div>
</div>