<ul class="nav nav-tabs-invers">
    <li *ngFor="let tabInfo of tabInfoArray" 
        [class.active]="tabInfo.active"
    >
        <a href="javascript:void(0);" 
            (click)="tabInfo.active = true"
        >
            {{tabInfo.name}}
            <span *ngIf="tabInfo.removable">
                <span class="glyphicon glyphicon-remove-circle"
                    (click)="removeTabInfo(tabInfo);"></span>
            </span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <ng-content></ng-content>
</div>