.nav-tabs-invers {
    border-bottom: 1px solid #1c1e22;
}
.nav-tabs-invers > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs-invers > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #272b30;
}
.nav-tabs-invers > li > a:hover {
    border-color: #1c1e22 #1c1e22 #1c1e22;
}
.nav-tabs-invers > li.active > a,
.nav-tabs-invers > li.active > a:hover,
.nav-tabs-invers > li.active > a:focus {
    color: #c8c8c8;
    background-color: #272b30;
    border: 1px solid #1c1e22;
    border-bottom-color: transparent;
    cursor: default;
}